<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>233</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/demo.css">

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>


</head>
<body>

<script type="application/javascript">
    window.onload=function (ev) {
        var closable = window.localStorage.getItem("closable");
        if(closable=="true"){
            window.localStorage.removeItem("closable");
            window.close();
        }
    }
</script>

<div th:insert="~{navigation :: copy}"></div>
<!--把标题栏引入进来-->
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-home" aria-hidden="true"></span>帖子界面</h2>
            <hr>
            <div class="media" th:each="question:${paginationDTO.getQuestionDTOs()}">
                <div class="media-left" th:width="30" th:high="30" >
                    <img class="media-object" src="" alt="">此处<br>有图
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'/question/'+${question.getId()}}" th:text="${question.getTitle() }"></a>
                    </h4>
                    <a th:href="@{'/question/'+${question.getId()}}"></a>

                    <span th:text="${question.getDescription()}"></span><br>
                    <span class="text-desc">
                        <span th:text="${question.getComment_count()}"></span>个回复·
                        <span th:text="${question.getView_count()}"></span>次浏览·
                        发布时间: <span th:text="${#dates.format(question.gmt_create,'yyyy-MM-dd HH:mm')}"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 col-xs-12">
            <h3>右边的广告位</h3><br>
        </div>
    </div>
</div>

</body>
</html>