<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>个人中心</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/demo.css">

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>


</head>
<body>

<div th:insert="~{navigation :: copy}"></div>
<!--把标题栏引入进来-->
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-home" aria-hidden="true"></span>个人界面</h2>
            <hr>
            个人界面施工中……
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 col-xs-12">
            <h3>右边的功能模块</h3><br>
        </div>
    </div>
</div>

</body>
</html>