<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<head>
    <title th:text="${questionDTO.getTitle()}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/demo.css">

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/community.js"></script>


</head>
<body>

<div th:insert="~{navigation :: copy}"></div>
<!--把标题栏引入进来-->

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 col-xs-12">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xs-12">
                <h3><span th:text="${questionDTO.getTitle()}"></span></h3>
                <span class="text-desc">
                作者：<span th:text="${questionDTO.getUser().getLogin_name()}"></span> |
                <span th:text="${questionDTO.getView_count()}"></span>次浏览 |
                发布时间: <span th:text="${#dates.format(questionDTO.gmt_create,'yyyy-MM-dd HH:mm')}"></span>
            </span>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xs-12">
                    <span th:text="${questionDTO.getDescription()}"></span>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xs-12">
                    <a th:href="@{'/publish/'+${questionDTO.getId()}}"
                       th:if="${session.user!=null&&session.user.getId()==questionDTO.getCreator()}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"/>编辑
                    </a>
                </div>
            </div>
            <!--            问题内容及编辑-->

            <h3>
                &nbsp;&nbsp;&nbsp;&nbsp;<span th:text="${questionDTO.getComment_count()}"/>个回复
            </h3>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xs-12" th:each="commentDTO:${commentDTOList}">
                <hr>
                <div class="media">
                    <div class="media-left media-middle">
                        <img class="media-object" src="..."><!--图片没配置-->
                    </div>
                    <div class="media-body">
                        <a th:href="@{'/profile/'+${commentDTO.getUser().getId()}}">
                            <span th:text="${commentDTO.getUser().getLogin_name()}"></span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xs-12">
                    <span th:text="${commentDTO.getContent()}"></span>
                </div>
                <div>
                    &nbsp;&nbsp;&nbsp;<button class="glyphicon glyphicon-thumbs-up active"></button>
                    &nbsp;&nbsp;&nbsp;<button class="glyphicon glyphicon-thumbs-down active"></button>
                    &nbsp;&nbsp;&nbsp;<button class="glyphicon glyphicon-comment active" th:data-id="${commentDTO.id}"
                                              onclick="collapseComments(this)"></button>
                    <span class="pull-right" th:text="${#dates.format(commentDTO.getGmt_create(),'yyyy-MM-dd')}"></span>
                </div>

                <div class="collapse" th:id="${'comment-'+commentDTO.id}">


                   沙雕作者不想写这鬼前端界面了,要看显示的自己用postman<br>
                    get 相对路径：  <span th:text="${'/comment/'+commentDTO.id}"/>
<!--                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xs-12" th:id="${'comment-body-'+commentDTO.id}">&lt;!&ndash;遍历二级评论列表&ndash;&gt;-->
<!--                        <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12 col-xs-12"></div>-->
<!--                        &lt;!&ndash;                  上为占位符&ndash;&gt;-->
<!--                        <div class="media col-lg-11 col-md-12 col-sm-12 col-xs-12 col-xs-12">-->
<!--                            <div class="media-left media-middle">-->
<!--                                <img class="media-object" src="...">&lt;!&ndash;图片没配置&ndash;&gt;-->
<!--                            </div>-->
<!--                            <div class="media-body">-->
<!--                                <a th:href="@{'/profile/'+${commentDTO.getUser().getId()}}">-->
<!--                                    <span th:text="${commentDTO.getUser().getLogin_name()}"></span>-->
<!--                                </a>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                        &lt;!&ndash;                    上为测试数据&ndash;&gt;-->
<!--                    </div>-->

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xs-12">
                        <div class="col-lg-12">
                            <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12 col-xs-12"></div>
                            <div class="input-group col-lg-11 col-md-12 col-sm-12 col-xs-12 col-xs-12">
                                <input type="text" class="form-control" placeholder="输入回复内容"
                                       th:id="${'input-'+commentDTO.id}">
                                <span class="input-group-btn">
        <button class="btn btn-default" type="button" onclick="comment(this)" th:data-id="${commentDTO.id}">回复</button>
      </span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                    </div>
                    <!--回复框体                -->
                </div>
            </div>
            <!--            回复列表-->

            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xs-12" th:id="comment_section">
                <div class="media" th:if="${session.user!=null}">
                    <div class="media-left media-middle">
                        <img class="media-object" src="..."><!--图片没配置-->
                    </div>
                    <div class="media-body">
                        <a th:href="@{'/profile/'+${session.user.getId()}}">
                            <span th:text="${session.user.getLogin_name()}"></span>
                        </a>
                    </div>
                    <div class="media-right">
                        <a href="...">规则</a>
                    </div>
                </div>
                <br>
                <input type="hidden" name="question_id" th:value="${questionDTO.getId()}"/>
                <input type="hidden" name="id" th:value="${id}">
                <textarea class="form-control" rows="15" th:id="content"></textarea>
                <!--                <div class="media-body">   </div>-->
                <div class="container-fluid main">
                    <button type="button" class="btn btn-success btn-publish" onclick="post()">回复</button>
                </div>
            </div>
            <!--            简略个人信息及回复框体-->
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xs-12">
                <h4>发起人</h4>
                <div class="media">
                    <div class="media-left media-middle">
                        <img class="media-object" src="...">
                        <!--图片没配置-->
                    </div>
                    <div class="media-body">
                        <a th:href="@{'/profile/'+${questionDTO.getUser().getId()}}">
                            <span th:text="${questionDTO.getUser().getLogin_name()}"></span>
                        </a>
                    </div>
                </div>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xs-12">
                <h4>相关问题</h4>
            </div>
        </div>
        <!--        右边的东西-->
    </div>
</div>


</body>
</html>